@model Project_Model.VIewModel.CategoryVM
@{
    ViewData["Title"] = "Allorder";
}

<div class="row" id="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CatagoriesList)
            {
                <tr>
                    <td>@item.Value</td>
                    <td>@item.Text</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="Page" id="pagination-container">
        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" onclick="navigateToPage(1)">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" onclick="navigateToPage(@i)">@i</a>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPage)
            {
                <li class="page-item">
                    <a class="page-link" onclick="navigateToPage(@(Model.CurrentPage + 1))">Next</a>
                </li>
            }
        </div>
    </div>
    @* pangbosada *@
    <script>
        function navigateToPage(pageNumber) {
            debugger;

            $.ajax({
                url: '/Adimen/cata/pageing',
                type: 'GET',
                data: {
                    term: '@Model.Term',
                    oorderby: '@Model.Orderby',
                    currentPage: pageNumber
                },
                success: function (result) {
                    debugger;
                    $('#table-container').html($(result).find('#table-container').html());
                    $('#pagination-container').html($(result).find('#pagination-container').html());
                },

                error: function (error) {
                    console.log(error);
                }
            });

            // Disable the default link behavior
            return true;
        }
    </script>

