@model Project_Model.Order
@{
    ViewData["Title"] = "Details";
}
<h2 class="text-center">Details</h2>
<h2>@Model.Name</h2>
<h2>@Model.orderTotal</h2>
<h2>@Model.OrderData</h2>
<h2>@Model.PhoneNumber</h2>
<h2>@Model.state</h2>
<h2>@Model.City</h2>
<h2>@Model.PaymentStatus</h2>


